@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 114px 24px;
  height: 604px;
  width: 375px;
  gap: 12px;
}

header {
  position: absolute;
  top: 20px;
  display: flex; 
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0;
  width: 375px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
  width: 375px;
}

header a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  text-decoration: none;
}

h1 {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.pg1 {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect {
  height: 24px;
  width: 117px;
  left: 24px;
  top: 434px;
  padding: 0;
  gap: 16px;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 16px;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 20px;
  align-items: center;
}
