@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex; 
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0;
  width: 23.4375rem;
  height: 5.75rem;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 2.75rem;
  width: 23.4375rem;
  height: 3rem;
}

header a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
  text-decoration: none;
}

.logo {
  width: Hug (6.25rem);
  height: Hug (2.5rem);
  top: 0.25rem;
  left: 0.75rem;
  padding: 0.625rem 0.75rem;
  
}

.menu-bars {
  width: Hug (2.5rem);
  height: Hug (2.5rem);
  top: 0.25rem;
  left: 19.4375rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
#top {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7.125rem 1.5rem;
  height: 37.75rem;
  width: 23.4375rem;
  gap: 0.75rem;
}

h1 {
  height: 150px;
  width: 327px;
  left: 24px;
  top: 114px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
}

.pg1 {
  height: 146px;
  width: 327px;
  left: 24px;
  top: 276px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.connect {
  height: 1.5rem;
  width: 7.3125rem;
  left: 1.5rem;
  top: 27.125rem;
  padding: 0;
  gap: 1rem;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 1rem;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 10.635416984558105rem;
  /* height: 1.2500039339065552rem; */

}
