@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  margin-left: 0;
  width: 23.4375rem;
  height: 4.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 23.4375rem;
  height: 2.75rem;
}

header a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
  text-decoration: none;
}

.logo {
  width: hug (6.25rem);
  height: hug (2.5rem);
  top: 0.25rem;
  left: 0.75rem;
  padding: 0.625rem 0.75rem;
  margin-left: 1rem;
}

.menu-bars {
  width: hug (2.5rem);
  height: hug (2.5rem);
  top: 0.25rem;
  left: 19.4375rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 1.25rem;
}

#top {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7.125rem 1.5rem;
  height: 37.75rem;
  width: 23.4375rem;
  gap: 0.75rem;
}

h1 {
  height: 9.375rem;
  width: 20.4375rem;
  left: 1.5rem;
  top: 7.125rem;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3.25rem;
  letter-spacing: 0;
  text-align: left;
}

.pg1 {
  height: 9.125rem;
  width: 20.4375rem;
  left: 1.5rem;
  top: 17.25rem;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0;
  text-align: left;
}

.connect {
  height: 1.5rem;
  width: 7.3125rem;
  left: 1.5rem;
  top: 27.125rem;
  padding: 0;
  gap: 1rem;
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 1rem;
  vertical-align: top;
  font-weight: 500;
  letter-spacing: 0;
  text-align: left;
}

.footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  width: 10.635416984558105rem;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 1rem;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.snapshot {
  height: 220px;
  width: 295px;
  left: 16px;
  top: 16px;
  border-radius: 8px;
}

.tonic {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.stack {
  display: flex;
  justify-content: left;
  gap: 5px;
  list-style: none;
  background-color: #fff;
}

.stack-elem:hover {
  background: #6070ff;
  color: #fff;
  border: #6070ff;
}

.stack-elem:active {
  background: #2230d2;
}

.stack .stack-elem {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ebebff;
  border-radius: 8px;
  height: 24px;
  width: fit-content;
  left: 0;
  top: 0;
  padding: 4px 12px 4px 12px;
}

.About-myself {
  background-color: #fff;
  align-items: left;
  margin: 114px 24px;
  display: flex;
  flex-direction: column;
  width: 375px;
  border-top-right-radius: 25px;
}

#myself {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  line-height: 87%;
  text-align: left;
  font-style: bold;
  color: #172b4d;
  margin-bottom: 12px;
  width: fit-content;
  margin-top: 114px;
}

.pg2 {
  height: 147px;
  width: 327px;
  left: 0;
  top: 47px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  vertical-align: top;
  background-color: #fff;
}

.resume {
  height: 48px;
  left: 375px;
  top: 4769px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #396df2;
  vertical-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 12px;
  gap: 10px;
  background-color: white;
  margin-bottom: 60px;
  margin-top: 22px;
}

.resume,
.connect,
.footer {
  margin-left: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.tags-li {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.tags-li-blod {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;
}

.see-project {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #fff;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  width: fit-content;
  margin-bottom: 28px;
}

.see-project:hover {
  background: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

.see-project:active {
  background: #2230d2;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

.dropdown-btn {
  color: black;
  display: flex;
  justify-content: space-between;
  width: 303px;
  margin-right: 102px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  width:303px;
  /* z-index: 1; */
}

a {
  text-decoration: none;
}

.dropdown-content a {
  color: black;
  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  width:303px;
  height:66.72px;
  border-radius:10px;
  background-color: #f9f9f9;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.rotate:hover {
  transform: rotate(90deg);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.skills li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 237px;
  font-family: 'Poppins', sans-serif;
  font-style: medium;
  font-size: 20px;
  line-height: 80%;
  vertical-align: left;
  margin-bottom: 36px;
  gap: 5px;
  margin-right: 102px;
}

#divider {
  background-color: #dfe1e6;
  height: 1px;
  width: 327px;
  left: 0;
  top: 71px;
  margin-top: 24px;
  margin-bottom: 23px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 303px;
}


li .list-item {
display:flex;
flex-direction: row;
justify-content: space-around;
padding: 5px;
line-height:0%;
margin-bottom: 0%;
align-items: center;
}

.dropdown-content .bg-drp li{
margin-bottom:0.25rem;
line-height:0.5rem;

}

@media screen and (min-width: 375px) {
  .works-section {
    grid-template-columns: repeat(1, 1fr);
  }
}

